{% extends 'base.html' %}

{% block title %}OOI - A web based Kancolle Proxy {% end %}

{% block content %}
  <div class="col-md-5">
    {% if error %}<div class="alert alert-danger"><p>{{ message }}</p></div>{% end %}
    <form  method="post">
      <div class="form-group">
        <label for="login_id" class="control-label">DMM ID<span class="asteriskField">*</span></label>
        <div class="controls "><input class="emailinput form-control" id="login_id" maxlength="30" name="login_id" type="email"></div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password<span class="asteriskField">*</span></label>
        <div class="controls "><input class="textinput textInput form-control" id="password" maxlength="30" name="password" type="password"></div>
      </div>
      <div class="radio">
        <p><strong>Flash Embedding Options</strong></p>
        <div class="play_mode">
          <p><label for="play_mode1" class="radio-inline"><input type="radio" id="play_mode1" name="play_mode" value="1"{% if play_mode == 1 %} checked{% end %}>Standard - Compatible with most browsers</label></p>
          <p><label for="play_mode2" class="radio-inline"><input type="radio" id="play_mode2" name="play_mode" value="2"{% if play_mode == 2 %} checked{% end %}>iFrame - Optimised for KanColleViewer and ElectronObserver</label></p>
          <p><label for="play_mode3" class="radio-inline"><input type="radio" id="play_mode3" name="play_mode" value="3"{% if play_mode == 3 %} checked{% end %}>CSS - Optimised for POI</label></p>
        </div>
      </div>
      <div class="form-actions"><input type="submit" name="submit" value="Sail away!" class="btn btn-primary" id="submit-id-submit"></div>
    </form>
  </div>
  <div class="col-md-7">
    <h4 class="text-primary"><strong>Welcome to Laf's OOI2 demo server</strong></h4>
    <div  class="text-indent">
      {% module Customize('info') %}
    </div>
  </div>
{% end %}