{% extends 'base.html' %}

{% block title %}OOI - A web based Kancolle Proxy {% end %}

{% block content %}
  <div class="col-md-5">
    {% if error %}<div class="alert alert-danger"><p>{{ message }}</p></div>{% end %}
    <form  method="post">
      <div class="form-group">
        <label for="login_id" class="control-label">DMM ID<span class="asteriskField">*</span></label>
        <div class="controls "><input class="emailinput form-control" id="login_id" maxlength="30" name="login_id" type="email"></div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password<span class="asteriskField">*</span></label>
        <div class="controls "><input class="textinput textInput form-control" id="password" maxlength="30" name="password" type="password"></div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="radio">
            <p><strong>Flash Embedding Options</strong></p>
            <div class="login_select">
              <p><label for="play_mode1" class="radio-inline"><input type="radio" id="play_mode1" name="play_mode" value="1"{% if play_mode == 1 %} checked{% end %}>Standard - Compatible with all browsers</label></p>
              <p><label for="play_mode2" class="radio-inline"><input type="radio" id="play_mode2" name="play_mode" value="2"{% if play_mode == 2 %} checked{% end %}>iframe - Optimised for KCV & EO</label></p>
              <p><label for="play_mode3" class="radio-inline"><input type="radio" id="play_mode3" name="play_mode" value="3"{% if play_mode == 3 %} checked{% end %}>Fullscreen - Optimised for Android and poi</label></p>
            </div>
          </div>
        </div>
        {% if cdn_domains %}
        <div class="col-lg-6">
          <div class="radio">
          <p><strong>CDN Options</strong></p>
          <div class="login_select">
            {% for item in cdn_domains %}
            <p><label for="{{ item }}" class="radio-inline"><input type="radio" id="{{ item }}" name="cdn" value="{{ item }}"{% if cdn == item %} checked{% end %}>{{ cdn_domains[item]['name'] }}</label></p>
            {% end %}
          </div>
        </div>
        </div>
        {% else %}
        <input type="hidden" name="cdn" value="default">
        {% end %}
      </div>
      <div class="form-actions"><input type="submit" name="submit" value="Sail away!" class="btn btn-primary" id="submit-id-submit"></div>
    </form>
  </div>
  <div class="col-md-7">
    <h4 class="text-primary"><strong>Open-source Kancolle web proxy provided by la-foret.me</strong></h4>
    <div  class="text-indent">
      {% module Customize('info') %}
    </div>
  </div>
{% end %}